# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\idea_work\spring-boot-jpa-oracle-example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
